<%- include('./partials/head') %>

    <body class="login_body dis-flex flex-c-m">
        <div class="login_outer_div p-b-20">
            <div class="inner_div_1">
                <p class="fs-30 clblack txt-center">Verify OTP</p>
            </div>

            <div class="inner_div_2 m-t-20 p-l-15 p-r-15">

                <form id="OTPVerifyForm">
                    <div class="w-full m-t-20">
                        <label for="OTP" class="clblack f-w-600">
                            Enter the OTP sent to your email <%= email %>
                        </label>
                        <input class="input_box p-l-15" type="text" id="OTP" name="OTP" placeholder="Enter OTP">
                    </div>

                    <p id="error-message" class="text-danger mt-2 mb-2"></p>

                    <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1">
                        <p class="fs-18">Verify OTP</p>
                    </button>
                </form>

                <div id="resendOTP" class="m-t-20 txt-center"></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            // -------------------------------
            // OTP SUBMIT HANDLER
            // -------------------------------
            document.getElementById('OTPVerifyForm').addEventListener("submit", verifyOTP)

            async function verifyOTP(e) {
                e.preventDefault();

                const OTP = document.getElementById('OTP').value;

                try {
                    const res = await axios.post("/OTP/verifyOTP", {
                        OTP
                    })

                    await Swal.fire({
                        icon: "success",
                        title: "OTP verified",
                        timer: 2000,
                        showConfirmButton: false
                    })

                    window.location.href = res.data.successRedirect;
                } catch (err) {
                    const errorMessage = err.response?.data?.error || "Something went wrong";
                    console.error(errorMessage)
                    Swal.fire({
                        icon: "error",
                        text: errorMessage,
                    });
                }

            }

            // document.getElementById('OTPVerifyForm').addEventListener('submit', function (event) {
            //     event.preventDefault();

            //     const OTP = document.getElementById('OTP').value;

            //     fetch('/OTP/verifyOTP', {
            //         method: "POST",
            //         headers: { 'Content-Type': 'application/json' },
            //         body: JSON.stringify({ OTP })
            //     })
            //         .then(res => res.json())
            //         .then(data => {
            //             if (data.successRedirect) {

            //                 window.location.href = res.data.successRedirect;

            //             } else {
            //                 document.getElementById('error-message').innerText = data.error;
            //             }
            //         })
            //         .catch(err => {
            //             document.getElementById('error-message').innerText = "Something went wrong";
            //         });
            // });


            let remainingTime = 30;

            function startTimer() {
                const resendDiv = document.getElementById('resendOTP');

                const interval = setInterval(() => {
                    if (remainingTime > 0) {
                        resendDiv.innerHTML = `<p class="text-danger">Resend OTP in ${remainingTime} seconds</p>`;
                        remainingTime--;
                    } else {
                        clearInterval(interval);

                        resendDiv.innerHTML = `
                        <form action="/OTP/resendOTP" method="post">
                            <button type="submit" class="btn btn-primary">
                                Resend OTP
                            </button>
                        </form>
                    `;
                    }
                }, 1000);
            }

            // Start timer immediately after page loads
            startTimer();
        </script>

    </body>

    </html>