<%- include('./partials/head') %>

    <body class="login_body dis-flex flex-c-m">
        <div class="login_outer_div p-b-20">
            <div class="inner_div_1">
                <p class="fs-30 clblack txt-center">Login</p>
            </div>
            <p id="error-message" class="text-danger txt-center"></p>
            <div class="inner_div_2 m-t-20 p-l-15 p-r-15">
                <div class="dis-flex flex-c">
                    <a href="/user/google" class="google-btn clblack dis-flex flex-c">
                        <img src="https://www.gstatic.com/images/branding/product/1x/gsa_512dp.png" alt="Google logo">
                        Log in with Google
                    </a>
                </div>
                <form action="/user/login" id="login-form">
                    <div class="w-full m-t-20">
                        <label for="email" class="clblack f-w-600">Email Address</label>
                        <input class="input_box p-l-15" type="email" id="email" name="email" placeholder="abc@gmail.com"
                            required>
                    </div>
                    <div class="w-full m-t-20">
                        <label for="password" class="clblack f-w-600">Password</label>
                        <input class="input_box p-l-15" type="password" id="password" name="password"
                            placeholder="******" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1">
                        <p class="fs-18">Login</p>
                    </button>
                </form>
                <a href="/user/register?referalID=" class="clblack m-t-20 dis-block fs-18">Don't have an account? Register</a>
                <a href="/user/forgetPassword" class="clblack dis-block fs-18">Forgot password</a>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.getElementById('login-form').addEventListener('submit', login)


            async function  login(e) {
                e.preventDefault()
                const email=document.getElementById('email').value;
                const password=document.getElementById('password').value;

                try{    
                    const res=await axios.post("/user/login",{
                        email,
                        password
                    })

                    window.location.href=res.data.successRedirect;
                }catch(err){
                    const errorMessage=err.response?.data?.error || "Something went wrong";
                    console.error(errorMessage)
                    Swal.fire({
                        icon: "error",
                        text: errorMessage,
                    });
                }
            }

            

        </script>
    </body>

    </html>